<div class="container">
    <div class="segment">
      <div class="glitch">
        <span class="symbol shallow">404</span>
        <span class="symbol deep">404</span>
        <span class="line"></span>
      </div>
    </div>
    
    <div class="segment" style="background: black;">
      <div class="glitch darken">
        <span class="symbol shallow">404</span>
        <span class="symbol deep">404</span>
        <span class="line"></span>
      </div>
    </div>
    <br>
    <h5 style="color:#fff;text-align:center;margin-top:50%;"> <a href="#">back to home page?</a></h5>
  </div>